body.detail {
  section.checks .check .results .env-result {
    padding: 1em;
    
    header {
      font-size: 200%;
    }
    
    .result {
      padding: 5px;
      margin-bottom: 5px;
    }
  }

  aside {
    float: left;

    section {
      margin: 0 1em 1em 0;
      padding: 1em;

      color: white;

      header {
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 1em;
        font-size: 150%;
      }
    }

    section.retrigger {
      background-color: #8e44ad;

      input[type=submit] {
        color: #8e44ad;

        &:focus {
          border-color: #8e44ad;
        }
      }
    }

    section.acknowledge {
      background-color: #3498db;

      input[type=submit] {
        color: #3498db;

        &:focus {
          border-color: #3498db;
        }
      }

      .label {
        font-size: 75%;
        font-style: italic;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
      }

      .value {
        font-weight: 400;
      }
    }
  }

  form {
    margin: 1em 0;
    
    input {
      background-color: rgba(0,0,0,0.2);
      border: 2px solid white;
      color: white;

      width: 4em;
      border-radius: 0.25em;
      padding: 0.25em;

      font-size: 150%;
      font-weight: 200;

     &[type=submit] {
        background-color: white;
        color: black;
      }
      
      &+input {
        margin-left: 0.25em;
      }
    }
  }
}