body.detail {
  section.checks .check .results .env-result {
    padding: 1em;
    
    header {
      font-size: 200%;
    }
    
    .result {
      padding: 5px;
      margin-bottom: 5px;
    }
  }

  section.acknowledge {
    float: left;
    margin: 0 1em 0 0;

    padding: 1em;

    background-color: #8e44ad;
    color: white;

    header {
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 1em;
      font-size: 150%;
    }

    .label {
      font-size: 75%;
      font-style: italic;
      margin-right: 0.5em;
    }
    
    .value {
      font-weight: 400;
    }
  }
  
  form {
    margin: 1em 0;
    
    input {
      background-color: #9b59b6;
      border: 2px solid white;
      color: white;

      width: 4em;
      border-radius: 0.25em;
      padding: 0.25em;

      font-size: 150%;
      font-weight: 200;

      &:focus {
        border-color: rgba(255, 255, 255, 0.75);
        outline: none;
        color: white;
      }

      &::selection {
        color: #9b59b6;
        background: rgba(255, 255, 255, 0.75);
      }

      &[type=submit] {
        background-color: white;
        color: #9b59b6;

        &:focus {
          border-color: #9b59b6;
        }
      }
      
      &+input {
        margin-left: 0.25em;
      }
    }
  }
}