div.overall-status-page {
    width: 100%;
    height: 100%;
    font-size: 30vw;
    text-decoration: none;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
}
.overall-status-page.error {
    background-color: rgba(255, 0, 0, 1);
}
.overall-status-page.defunct {
    background-color: rgb(241, 70, 255);
}

.overall-status-page.ok {
    background-color: rgba(0, 255, 127, 1);
}

.overall-status-page.warning {
    font-size: 23vw;
    background-color: rgba(255, 249, 34, 1);
}

.overall-status-page.acknowledged {
    font-size: 14vw;
    background-color: rgba(73, 168, 255, 1);
}