.overview-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.overview-container .check-results-row{
    float: left;
    margin-top: 10px;
    width: 100%;
}

.overview-container .single-check-results {
    float: left;
    margin-top: 10px;
    width: 95%;
}

.overall-status-error {
    background-color: rgba(255, 0, 0, .3);;
}

.overall-status-warning {
    background-color: rgba(255, 249, 34, .3);
}

.overall-status-ok {
    background-color: rgba(0, 255, 127, .3);;
}

.overall-status-defunct {
    background-color: rgba(241, 70, 255, .3);
}

.overall-status-acknowledged {
    background-color: rgba(100, 207, 255, .3);
}